# Environments
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.env
.env.example

# Database
*.db
*.sqlite3

# Node modules
node_modules/
dist/
build/
coverage/

# Blockchain
artifacts/
cache/
typechain-types/

# OS Files
.DS_Store
Thumbs.db
